<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GenerateFunction.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GenerateFunctionName.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F74890223D593460015513B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F74891823D593470015513B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F74892323D593470015513B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FE82B1123D6E34E00C06A56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
